@import "../../utils/mixins";

.header {
  
  &__decktop {
    display: flex;
    border: 1px solid #E2E6E9;
    justify-content: space-between;
  }

   &__block-menu {
    display: flex;
    align-items:center
   }

    &__logo {
    display: block;
    margin-right: 48px;
    margin-left: 24px;

    &::before {
      position: relative;
      display: block;
      content: '';
      width: 100%;
      height: 15px;
    
      background-image: url("../../images/logo_hand.svg");
      background-repeat: no-repeat;
      left: 41px;
      top: 12px;
    }
  }

  &__block-user {
    border-left: 1px solid #E2E6E9;
    display: none;
   
    @include onTablet {
      display: flex;      
    }

    @include onDesktop {
      display: flex;      
    }
  }

  &__phone--hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;    
    background: #fff;
    transform: translateY(-100%);
    transition: all 1s ease-out; 
    z-index: 10;       
  }

  &__phone--visible {
    transform: translateY(0);
    transition: all 1s ease-out; 
  }
 
  &__block-logo-button {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E2E6E9;
  }

  &__button-menu--open {
    
    &::before {
      position: relative;
      display: block;
      content: '';
      width: 15px;
      height: 15px;
          background-image: url("../../images/Menu.svg");
      background-repeat: no-repeat;
      
    }
  }

  &__button-menu--close {
    
    &::before {
      position: relative;
      display: block;
      content: '';
      width: 15px;
      height: 15px;
      background-image: url("../../images/Close.svg");
      background-repeat: no-repeat;
      
    }
  }
  
  &__button-menu--open,
  &__button-menu--close
   {
    display: flex;
    align-items: center;
    padding: 16px;
   
    @include onTablet {
      display: none;      
    }
    @include onDesktop {
      display: none;        
    }
  }
     
 };
