@import "../../utils/mixins";

.footer {
  background: #fff;
  padding: 34px 0px 32px 16px;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  @include onTablet {
    display: flex;
    justify-content: space-between;
    padding: 32px 24px 32px 24px;
  }

  @include onDesktop {
    display: flex;
    justify-content: space-between;
    padding: 34px 32px 32px 32px;
  }

  &__logo {
    width: 89px;
    height: 30px;
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 0px;
    }

    @include onDesktop {
      margin-bottom: 0px;
    }
  }

  &__nav {
    margin-bottom: 40px;

    @include onTablet {
      display: flex;
      align-items: center;
      margin-bottom: 0px;
    }

    @include onDesktop {
      display: flex;
      align-items: center;
      margin-bottom: 0px;
    }
  }

  &__nav-list {
    padding: 0;
    margin: 0;

    @include onTablet {
      display: flex;
    }

    @include onDesktop {
      display: flex;
    }
  }

  &__nav-item {
    list-style-type: none;
    margin-bottom: 16px;

    @include onTablet {
      margin-bottom: 0px;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }

    @include onDesktop {
      margin-bottom: 0px;
      margin-right: 106px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__nav-link {
    text-decoration: none;
    color: #89939A;
    @font-face {
      font-family: 'Mont-Black sans-serif';
      src: url(../../../public/fonts/Mont/Mont-Black.woff2);
    }
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__backToTop-btn {
    display: block;
    
    text-decoration: none;
    color: #89939A;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    @include onTablet {
      display: flex;
      align-items: center;
      margin-bottom: 0px;
    }
    
    @include onDesktop {
      display: flex;
      align-items: center;
      margin-bottom: 0px;
    }
  }
}