.pageNavLink {
  margin: 0;
  display: block;
  color: #89939A;;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-decoration: none;
}